<template>
    <div class="row">
        <div class="col-md-12">
            <draggable
                    class="list-group"
                    element="ul"
                    v-model="list"
                    :options="dragOptions"
                    :move="onMove"
                    @add="onAdd"
                    @start="isDragging=true"
                    @end="isDragging=false"
            >
                <transition-group type="transition" :name="'flip-list'" class="empty">
                    <li class="list-group-item " :class="{ clossable: isDeletable }" v-for="element in list" :key="element.order">
                        <input type="hidden" :name="group+'[]'" :value="element.code">
                        <div class="row box" data-toggle="tooltip" :title="element.name">
                            <div :class="{ close: isDeletable }" v-on:click="removeTeam(element.code)"></div>
                            <div class="pull-left">
                                <img :src="element.image" />
                            </div>
                            <div>
                                <div class="row">
                                    <div class="no-overflow pull-left max-width">
                                        <div class="text-left h-margin"><h4>{{element.name}}</h4></div>
                                    </div>
                                    <div class="pull-right">
                                        <span class="badge"><h4>{{element.order}}</h4></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </transition-group>
            </draggable>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: 'draggable-teams',
        components: {
            draggable,
        },
        props: {
            group: {
                default: 'group',
                type: String
            },
            parentGroup: {
                default: 'parentGroup',
                type: String
            },
            childGroup: {
                default: 'childGroup',
                type: String
            },
            teams: {
                default: '',
                type: String
            },
            limit: {
                default: '99',
                type: String
            },
            isDeletable: {
                default: 'true',
                type: String
            }
        },
        data () {

            return {
                //list: teams.map( (name,index) => {return {name, order: index+1, fixed: false}; }),
                list: JSON.parse(this.teams).map( (row,index) => {
                    let name = row.name;
                    let code = row.code;
                    let image = row.image;
                    let group = this.group;
                    return {name, order: index+1, fixed: false, code: code, image: image, group: group};
                }),
                listArray: JSON.parse(this.teams).map( (row,index) => {
                    return row.code
                }),
                editable: true,
                isDragging: false,
                delayedDragging: false,
                parentFull: [],
                which: '',
                from: '',
                to: ''
            }
        },
        mounted: function () {
            var self = this;

            this.bus.$on('isMoved', function (moved) {
                if(self.group == moved.from || self.group == moved.to) {
                    self.which = moved.which;
                    self.from = moved.from;
                    self.to = moved.to;
                }
            });

            this.bus.$on('isAdded', function (added) {
                if($.inArray( added.from+'@'+added.to, self.bus.$data.movedTeams ) == -1 ) {
                    self.bus.$data.movedTeams.push(added.from+'@'+added.to);
                }
                if($.inArray( added.from+'@'+added.which, self.bus.$data.lockedTeams ) == -1 ) {
                    self.bus.$data.lockedTeams.push(added.from+'@'+added.which);
                }
            });

            this.bus.$on('isCleared', function () {
                self.from = self.to = self.which = '';
            });
        },
        methods:{
            orderList () {
                this.list = this.list.sort((one,two) =>{return one.order-two.order; })
            },
            onMove ({relatedContext, draggedContext}) {
                const relatedElement = relatedContext.element;
                const draggedElement = draggedContext.element;
                let isAllowed = (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed;

                let relatedList = [];
                let isFull = false;
                if(relatedContext !== undefined && relatedContext.list != this.list) {
                    relatedList = relatedContext.list.map( (row,index) => {
                        return row.code;
                    });
                    isFull = relatedContext.component.$options.propsData.options.spaces <= 0 ? true : false;
                }
                let isUnique = $.inArray( draggedElement.code, relatedList ) == -1 ? true : false;

                let compositeFromTo = this.group+'@'+relatedContext.component.$options.propsData.options.group.name;
                let isParentsFull = $.inArray( compositeFromTo, this.bus.$data.movedTeams) >= 0 ? true : false;
                let compositeFromWhich = this.group != relatedContext.component.$options.propsData.options.group.name ? this.group+'@'+draggedElement.code : '';
                let isParentsUsed = $.inArray( compositeFromWhich, this.bus.$data.lockedTeams) >= 0 ? true : false;

                var willMove = isAllowed && isUnique && !isFull && !isParentsFull && !isParentsUsed ;

                this.bus.$emit('isMoved', { which: draggedElement.code ,from: this.group, to: relatedContext.component.$options.propsData.options.group.name });

                return willMove;
            },
            onAdd (evt) {
                this.spaces --;

                //Comunication non parent child https://vuejs.org/v2/guide/components.html#Non-Parent-Child-Communication
                this.bus.$emit('isAdded', { which: this.which, from: this.from, to: this.to});
                this.bus.$emit('isCleared');
            },
            removeTeam: function(code) {
                if(this.isDeletable) {
                    var self = this;
                    let updatedList = this.list.map( (row,index) => {
                        return row.code;
                    });
                    var index = $.inArray( code, updatedList );

                    var indexMovedTeams;
                    var indexLockedTeams;
                    var team;

                    $.each(JSON.parse(this.parentGroup), function( i, value ) {
                        //Determines what parent came from
                        if($.inArray(value+'@'+self.list[index].code, self.bus.$data.lockedTeams) >= 0 ) {
                            indexMovedTeams = $.inArray(value+'@'+self.group, self.bus.$data.movedTeams);
                            indexLockedTeams = $.inArray(value+'@'+self.list[index].code, self.bus.$data.lockedTeams);
                            team = self.list[index].code;
                        }
                    });
                    this.bus.$data.movedTeams.splice(indexMovedTeams, 1);
                    this.bus.$data.lockedTeams.splice(indexLockedTeams, 1);

                    this.list.splice(index, 1);

                    this.removeRecursive(self.group, team);
                }
            },
            removeRecursive: function(oldParent, team) {
                var self = this;
                var result;
                var indexToDelete = [];
                var newParent = [];

                $.each( self.bus.$data.lockedTeams, function( i, value ) {
                    result = value.split('@');
                    if(result[0] == oldParent && result[1] == team) {
                        indexToDelete.push(i);
                        newParent.push(self.bus.$data.movedTeams[i].split('@')[1]);
                    }
                });

                for (var i = indexToDelete.length -1; i >= 0; i--) {
                    self.bus.$data.movedTeams.splice(indexToDelete[i], 1);
                }

                for (var i = indexToDelete.length -1; i >= 0; i--) {
                    self.bus.$data.lockedTeams.splice(indexToDelete[i], 1);
                }

                if(newParent.length) {
                    $.each( newParent, function( i, value ) {
                        let updatedList = self.$parent.$refs[value].list.map( (row,index) => {
                            return row.code;
                        });

                        if($.inArray( team, updatedList ) >= 0) {
                            self.$parent.$refs[value].list.splice($.inArray( team, updatedList ), 1);
                        }
                        self.removeRecursive(value, team);
                    });
                }
            }
        },
        computed: {
            dragOptions () {
                return  {
                    animation: 0,
                    group: { name: this.group, pull: 'clone', put: JSON.parse(this.parentGroup) },
                    disabled: !this.editable,
                    ghostClass: 'ghost',
                    spaces: this.limit - this.list.length,
                };
            },
            listString(){
                return JSON.stringify(this.list, null, 2);
            },
            list2String(){
                return JSON.stringify(this.list2, null, 2);
            }
        },
        watch: {
            isDragging (newValue) {
                if (newValue){
                    this.delayedDragging= true
                    return
                }
                this.$nextTick( () =>{
                    this.delayedDragging =false
                })
            }
        }
    }
</script>

<style>
    .flip-list-move {
        transition: transform 0.5s;
    }

    .no-move {
        transition: transform 0s;
    }

    .ghost {
        opacity: .5;
        background: #bcc6d7;
    }

    .list-group {
        min-height: 20px;
    }

    .list-group-item {
        cursor: move;
    }

    .list-group-item i{
        cursor: pointer;
    }

    .no-overflow{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .box {
        margin-left: 0px;
        margin-right: 15px;
    }

    .h-margin {
        margin-left: 15px;
    }

    .max-width {
        max-width: 45%;
    }

    .empty {
        min-height: 70px;
        background: lightGrey;
        -moz-border-radius: 6px;
        border-radius: 6px; /* standards-compliant: (IE) */
        display: block;
    }

    .close {
        position:absolute;
        opacity:0;
        top:0px;
        right:0px;
        width:16px;
        height:16px;
        cursor:pointer;
        border:1px solid #000;
        background-color:#efefef;
        z-index: 5;
        -webkit-transition: opacity 150ms;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
        text-align:right;
        border: 0;
        cursor: pointer;
    }
    .close:hover, .close:focus {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
    }

    .close-button:active {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMlBLAYMdwxkghgEwD1XBGTC0g0sDIaYJECVwFqoChBK4WegKkJWArSJZAQErCDqSKG/iCyhaRhYA9LDIbULDzlIAAAAASUVORK5CYII=");
    }
    .content {
        width: 328px;
        position: relative;
        border: 1px solid #ccc;
    }
</style>
