<template>
    <div>
        <input type="hidden" name="moved-teams" :value="moved">
        <input type="hidden" name="locked-teams" :value="locked">
    </div>
</template>

<script>
    export default {
        props: {
            movedTeams: {
                default: '',
                type: String
            },
            lockedTeams: {
                default: '',
                type: String
            }
        },
        mounted: function () {
            console.log(this.bus.$data.movedTeams);
            this.bus.$data.movedTeams = this.movedTeams.split(",");
            this.bus.$data.lockedTeams = this.lockedTeams.split(",");
            console.log(this.bus.$data.movedTeams);
        },
        computed: {
            moved () {
                return this.bus.$data.movedTeams;
            },
            locked () {
                return this.bus.$data.lockedTeams;
            }
        }
    }
</script>
