div.groups {
  overflow-x: auto;
  white-space: nowrap;
  text-overflow-ellipsis: '...';
}
div.groups [class*="col"] {
  display: inline-block;
  float: none; /* Very important */
}
div.col-centered{
  float: none;
  margin: 0 auto;
}
.valign-top{
  vertical-align: top;
}
.left-margin {
  margin-left: 15px;
}